@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663635304662') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-round_menu_fill:before {
  content: "\e80b";
}

.icon--superhero:before {
  content: "\e69d";
}

.icon-heroku:before {
  content: "\ebbc";
}

.icon-menu:before {
  content: "\e607";
}

.icon-focus:before {
  content: "\e609";
}

.icon-plans:before {
  content: "\e60b";
}

.icon-voice:before {
  content: "\e60c";
}

.icon-backlog:before {
  content: "\e60d";
}

.icon-filter:before {
  content: "\e60e";
}

.icon-image:before {
  content: "\e610";
}

.icon-bluetooth:before {
  content: "\e611";
}

.icon-check:before {
  content: "\e612";
}

.icon-search:before {
  content: "\e613";
}

.icon-tool:before {
  content: "\e615";
}

.icon-save:before {
  content: "\e616";
}

.icon-mail-read:before {
  content: "\e617";
}

.icon-enclosure:before {
  content: "\e618";
}

.icon-mail-unread:before {
  content: "\e619";
}

